---
import Layout from "@layouts/Layout.astro";
import "@assets/styles/banner.scss";
---

<Layout title="test" keywordsMeta="test" descriptionMeta="test">
        <script>
            function scrollTo(element) {
              window.scroll({
                behavior: 'smooth',
                left: 0,
                top: element.offsetTop
              });
            }
            document.getElementById("scrolldown").addEventListener('click', () => {
              scrollTo(document.getElementById("article"));
            });
            document.getElementById("tocol1").addEventListener('click', () => {
              scrollTo(document.getElementById("col1"));
            });
            document.getElementById("tocol2").addEventListener('click', () => {
              scrollTo(document.getElementById("col2"));
            });
            document.getElementById("tocol3").addEventListener('click', () => {
              scrollTo(document.getElementById("col3"));
            });
            document.getElementById("tocol4").addEventListener('click', () => {
              scrollTo(document.getElementById("col4"));
            });
            document.getElementById("tocol5").addEventListener('click', () => {
              scrollTo(document.getElementById("col5"));
            });
            document.getElementById("tocol6").addEventListener('click', () => {
              scrollTo(document.getElementById("col6"));
            });
            document.getElementById("tocol7").addEventListener('click', () => {
              scrollTo(document.getElementById("col7"));
            });
            document.getElementById("tocol8").addEventListener('click', () => {
              scrollTo(document.getElementById("col8"));
            });
        </script>
        <section id="banner">
          <div class="inner">
            <h1>ARTICLE ON DIBETIC FOOT CARE</h1>
            <h2>Podiatrists & Podiatric Surgeons located in New York City</h2>
            <h3>Upper East Side | Herald Square | Bensonhurst</h3>
            <a href="tel:3322309230"> Call us (332)-230-9230</a>
          </div>
          <section id="scrolldown" class="demo article-more">
            <div><span></span>MORE ABOUT DIABETIC FOOT CARE</div>
          </section>
        </section>
        <section id="article">
            <div class="navigation">
              <span class="navigation-span">Navigating article content: Tap to scroll down</span>
              <ol class="olcards">
                <li  id="tocol1"  style="--cardColor:#3b3a3aaa">
                  <div class="content">
                    <h3 class="title">What is Diabetic Foot Care?</h3>
                  </div>
                </li>
                <li id="tocol2" style="--cardColor:#2929298d">
                  <div class="content">
                    <h3 class="title">What types Diabetic Foot are there?</h3>
                  </div>
                </li>
                <li id="tocol3" style="--cardColor:#3b3a3aaa">
                  <div class="content">
                    <h3 class="title">Symptoms of Diabetic Foot</h3>
                  </div>
                </li>
                <li  id="tocol4" style="--cardColor:rgba(103, 102, 102, 0.6)">
                  <div class="content">
                    <h3 class="title">Causes of Diabetic Foot</h3>
                  </div>
                </li>
                <li id="tocol5" style="--cardColor:rgba(132, 132, 132, 0.6)">
                  <div class="content">
                    <h3 class="title" id="tocol5" >Complications and Risk factors of Diabetic Foot</h3>
                  </div>
                </li>
                <li id="tocol6" style="--cardColor:rgba(163, 163, 163, 0.6)">
                  <div class="content">
                    <h3 class="title" id="tocol6" >How to treat Diabetic Foot?</h3>
                  </div>
                </li>
                <li id="tocol7"  style="--cardColor:rgba(103, 102, 102, 0.6)">
                  <div class="content">
                    <h3 class="title">Prevention of Diabetic Foot</h3>
                  </div>
                </li>
                <li id="tocol8"  style="--cardColor:#3b3a3aaa">
                  <div class="content">
                    <h3 class="title">When do I need to see a doctor?</h3>
                  </div>
                </li>
              </ol>
            </div>
            <div class="content-article">
              <div class="col" id="col1">
                <h2>What is Diabetic Foot Care?</h2>
                <p>Diabetic foot care refers to the preventive and therapeutic measures taken to maintain the health of the feet in individuals with diabetes. Diabetes can lead to various complications that affect the feet, including poor circulation, nerve damage (neuropathy), and impaired wound healing. These complications increase the risk of developing foot ulcers, infections, and, in severe cases, even amputation.</p>
                <h3>Proper diabetic foot care aims to reduce the risk of foot complications and promote overall foot health. Here are some key aspects of diabetic foot care:</h3>
                <h4>Daily foot inspection</h4>
                <p>Individuals with diabetes should inspect their feet every day, looking for any signs of injury, redness, swelling, blisters, cuts, or other abnormalities. If any issues are detected, they should be promptly addressed.</p>
                <h4>Good foot hygiene</h4>
                <p>Keeping the feet clean and dry is essential. Feet should be washed with warm water and mild soap, and then thoroughly dried, especially between the toes. Moisturizing the feet with lotion can help prevent dry skin and cracking.</p>
                <h4>Nail care</h4>
                <p>Nails should be trimmed straight across and not too short to prevent ingrown toenails. It is advisable to seek professional help from a podiatrist for nail trimming if necessary.</p>
                <h4>Proper footwear</h4>
                <p>Wearing well-fitting, comfortable shoes is crucial. Diabetic individuals should avoid shoes that are too tight, which can lead to pressure points and ulcers, as well as shoes that are too loose, which may cause friction and blisters. Diabetic shoes or orthotic inserts may be recommended in some cases.</p>
                <h4>Protection</h4>
                <p>It is important to protect the feet from extreme temperatures, hot surfaces, and sharp objects. Diabetic individuals should wear socks and shoes at all times to prevent injuries.</p>
                <h4>Regular foot exams</h4>
                <p>Routine foot examinations by a healthcare professional, such as a podiatrist, are essential for monitoring foot health. These exams may include checking for sensation, circulation, and any signs of potential problems.</p>
                <h4>Blood sugar management</h4>
                <p>Maintaining good control of blood sugar levels helps reduce the risk of complications and promotes healing. Proper diabetes management, including following a healthy diet, taking prescribed medications, and regular monitoring of blood glucose levels, is crucial.</p>
                <h4>Regular physical activity</h4>
                <p>Engaging in regular physical activity, as recommended by a healthcare professional, can improve circulation and overall foot health.</p>
                <p>It is important for individuals with diabetes to work closely with their healthcare team, including doctors, nurses, and podiatrists, to develop a personalized diabetic foot care plan based on their specific needs and risk factors. By following proper foot care practices and managing diabetes effectively, the risk of foot complications can be significantly reduced.</p>
              </div>
              <div class="col" id="col2">
                <h2>What types Diabetic Foot are there?</h2>
                <h3>There are several types of diabetic foot conditions that can occur in individuals with diabetes. Here are some common types:</h3>
                <h4>Neuropathic ulcers</h4>
                <p>Neuropathy, or nerve damage, is a common complication of diabetes. When nerves in the feet are damaged, individuals may lose sensation, making it difficult to feel pain or discomfort. This can lead to the development of neuropathic ulcers, which are typically painless sores or wounds that often occur on pressure points, such as the ball of the foot or the bottom of the big toe.</p>
                <h4>Ischemic ulcers</h4>
                <p>Diabetes can also affect the blood vessels, leading to poor circulation in the feet. Reduced blood flow can result in ischemic ulcers, which are ulcers that develop due to inadequate oxygen and nutrient supply to the tissues. These ulcers often appear on the lower legs, heels, or tips of the toes and are typically painful.</p>
                <h4>Charcot foot</h4>
                <p>Charcot foot, also known as Charcot arthropathy, is a condition that affects the bones, joints, and soft tissues of the foot. It is characterized by a progressive weakening of the foot's structure due to nerve damage and poor sensation. This can lead to fractures, dislocations, and deformities. Charcot foot is typically painless or minimally painful, which can delay its diagnosis and treatment.</p>
                <h4>Infections</h4>
                <p>Diabetes can weaken the immune system, making individuals more susceptible to infections. Foot infections in diabetics can range from superficial skin infections, such as cellulitis, to more severe infections, such as osteomyelitis (infection of the bone) or septicemia (bloodstream infection). Infections often occur in conjunction with ulcers or wounds.</p>
                <h4>Peripheral arterial disease (PAD)</h4>
                <p>Diabetes can contribute to the development of peripheral arterial disease, which involves narrowing or blockages in the blood vessels that supply the legs and feet. PAD can cause decreased blood flow to the feet, leading to poor wound healing, ischemic ulcers, and an increased risk of amputation if left untreated.</p>
                <p>It's important for individuals with diabetes to be vigilant about monitoring their feet and promptly seek medical attention if they notice any signs of foot complications. Regular foot examinations by healthcare professionals, such as podiatrists, can help identify potential issues early and initiate appropriate treatment.</p>              
              </div>
              <div class="col" id="col3">
                <h2>Symptoms of Diabetic Foot</h2>
                <p>Diabetic foot symptoms can vary depending on the specific condition or complication present. Here are some common symptoms associated with diabetic foot:</p>
                <h4>Numbness or loss of sensation</h4>
                <p>Diabetic neuropathy, a type of nerve damage, can lead to numbness or tingling in the feet. This may result in a reduced ability to feel pain, heat, cold, or pressure.</p>
                <h4>Pain or discomfort</h4>
                <p>While neuropathy can cause decreased sensation, it can also manifest as painful sensations such as sharp or burning pain in the feet or legs. Pain may be constant or intermittent.</p>
                <h4>Foot ulcers</h4>
                <p>Open sores or wounds, known as foot ulcers, are a significant symptom of diabetic foot. They usually develop on the bottom of the feet or on pressure points, such as the ball of the foot or the toes. Ulcers can be shallow or deep and may or may not be accompanied by pain.</p>
                <h4>Skin changes</h4>
                <p>Diabetes can affect the skin of the feet, leading to various changes. These may include dry and cracked skin, calluses, redness, swelling, or skin discoloration.</p>
                <h4>Poor wound healing</h4>
                <p>Individuals with diabetic foot may experience slow healing of wounds or ulcers. Even minor cuts or blisters may take longer to heal or fail to heal properly, increasing the risk of infection.</p>
                <h4>Ingrown toenails or fungal infections</h4>
                <p>Diabetes can contribute to nail problems such as ingrown toenails, brittle nails, or fungal infections.</p>
                <h4>Changes in foot shape or structure</h4>
                <p>Over time, the bones and joints of the foot may be affected by conditions like Charcot foot. This can lead to deformities, instability, or changes in the foot's shape.</p>
                <h4>Cold feet or poor temperature regulation</h4>
                <p>Reduced blood flow to the feet due to peripheral arterial disease (PAD) can result in cold feet or difficulty regulating foot temperature.</p>
              </div>
              <div class="col" id="col4">
                <h2>Causes of Diabetic Foot</h2>
                <p>Diabetic foot, also known as diabetic foot ulcers or diabetic neuropathy, is a complication that occurs in individuals with diabetes. It primarily develops due to a combination of factors related to the effects of diabetes on the body. Here are some key reasons why people with diabetes are susceptible to diabetic foot disease:</p>
                <h4>Neuropathy</h4>
                <p>Diabetes can cause nerve damage, known as neuropathy, particularly affecting the peripheral nerves. Peripheral neuropathy can lead to a loss of sensation in the feet, making it difficult to detect injuries or trauma. People with reduced or absent sensation may not realize when they have a cut, blister, or other foot injuries, and as a result, they may not seek appropriate treatment promptly. Unnoticed injuries can progress and become more severe, leading to ulcers or infections.</p>
                <h4>Poor circulation</h4>
                <p>Diabetes can impair blood flow, particularly to the extremities like the feet. Reduced blood flow can hinder the healing process and make it harder for wounds or ulcers to heal. Additionally, inadequate circulation can contribute to nerve damage, further exacerbating the risk of complications.</p>
                <h4>Elevated blood sugar levels</h4>
                <p>Persistently high blood sugar levels in diabetes can affect the function of various cells and tissues, including those involved in wound healing. High glucose levels can impair the immune response, making it more challenging for the body to fight infections and heal wounds.</p>
                <h4>Foot deformities</h4>
                <p>Diabetes can cause changes in the structure of the feet, leading to foot deformities such as Charcot foot. Charcot foot is characterized by weakening of the bones and joints in the foot, making them susceptible to fractures and other injuries. These deformities can increase the risk of foot ulcers and complications.</p>
                <h4>Poor foot care</h4>
                <p>Neglecting foot care is common among individuals with diabetes, and this can contribute to the development of foot complications. Failure to keep the feet clean and dry, wearing improper footwear, or not managing nail care properly can increase the risk of developing foot problems.</p>
              </div>
              <div class="col" id="col5">
                <h2>Complications and Risk factors of Diabetic Foot</h2>
                <h3>Not treating a diabetic foot can have serious consequences and increase the risk of various complications, including:</h3>
                <h4>Infection</h4>
                <p>Foot ulcers or wounds that are left untreated can become infected. Diabetes can impair the immune system's ability to fight off infections, making it more challenging for the body to heal wounds. If an infection spreads, it can lead to cellulitis (skin infection), osteomyelitis (bone infection), or even sepsis (a severe bloodstream infection), which can be life-threatening.</p>
                <h4>Gangrene</h4>
                <p>Gangrene refers to the death of body tissues due to a lack of blood supply. Poor circulation in individuals with diabetes, combined with untreated foot ulcers or infections, can increase the risk of developing gangrene. Gangrene requires immediate medical attention and may result in the need for amputation if the affected tissues cannot be salvaged.</p>
                <h4>Amputation</h4>
                <p>Foot ulcers, infections, and gangrene that progress and do not respond to treatment may eventually necessitate amputation of the affected toe, foot, or lower leg. Diabetic foot ulcers are the leading cause of lower limb amputations among individuals with diabetes. Proper and timely treatment can help prevent the need for amputation.</p>
                <h4>Delayed wound healing</h4>
                <p>High blood sugar levels, reduced blood flow, and impaired immune function in diabetes can delay the healing process. Without appropriate treatment, foot ulcers and wounds can persist for an extended period, leading to chronic non-healing wounds and increased risk of complications.</p>
                <h4>Reduced quality of life</h4>
                <p>Diabetic foot complications can significantly impact an individual's quality of life. Chronic pain, limited mobility, and the need for ongoing medical interventions can affect daily activities, employment, and overall well-being.</p>
              </div>
              <div class="col" id="col6">
                <h2>How to treat Diabetic Foot?</h2>
                <p>he treatment of diabetic foot involves a multidisciplinary approach that may include medical interventions, wound care, infection management, and lifestyle modifications. Here are some common strategies and treatments used in the management of diabetic foot:</p>
                <h4>Wound care</h4>
                <p>Proper wound care is essential to promote healing and prevent infection. It typically involves cleaning the wound with mild soap and water, removing dead tissue (debridement), and applying appropriate dressings or wound care products. Depending on the severity and characteristics of the wound, healthcare professionals may use advanced techniques such as negative pressure wound therapy or bioengineered skin substitutes.</p>
                <h4>Infection management</h4>
                <p>If an infection is present, antibiotics are often prescribed to combat the infection. The choice of antibiotics depends on the type and severity of the infection. In severe cases or when osteomyelitis (bone infection) is suspected, hospitalization and intravenous antibiotics may be required.</p>
                <h4>Offloading</h4>
                <p>Offloading involves relieving pressure on the affected foot to facilitate healing. This can be achieved through various methods, including specialized footwear, shoe inserts, braces, or using crutches or a wheelchair if necessary. Offloading helps reduce pressure on foot ulcers and allows them to heal.</p>
                <h4>Blood sugar control</h4>
                <p>Managing blood sugar levels is crucial for overall diabetes management and wound healing. It involves following a healthy diet, taking prescribed medications (such as insulin or oral hypoglycemic agents), monitoring blood sugar regularly, and working with healthcare professionals to optimize glycemic control.</p>
                <h4>Vascular intervention</h4>
                <p>In cases where poor blood flow contributes to the foot complications, procedures like angioplasty or bypass surgery may be considered to restore adequate circulation.</p>
                <h4>Education and self-care</h4>
                <p>Education plays a vital role in preventing diabetic foot complications. Patients should receive guidance on foot hygiene, daily foot inspections, appropriate footwear selection, and self-care practices. They should also be educated on recognizing signs of potential problems and seeking medical attention promptly.</p>
                <h4>Regular follow-up and monitoring</h4>
                <p>Ongoing follow-up visits with healthcare professionals, such as podiatrists or wound care specialists, are essential to monitor the progress of the foot condition, ensure proper wound healing, and make any necessary adjustments to the treatment plan.</p>
                <p>It's important to note that the treatment approach may vary depending on the severity of the diabetic foot disease, the presence of complications, and individual patient factors. A healthcare professional experienced in diabetic foot care should be consulted to develop an individualized treatment plan.</p>
              </div>
              <div class="col" id="col7">
                <h2>Prevention of Diabetic Foot</h2>
                <p>Prevention plays a crucial role in reducing the risk of diabetic foot complications. Here are some key preventive measures individuals with diabetes can take to maintain the health of their feet:</p>
                <h4>Maintain good blood sugar control</h4>
                <p>Keeping blood sugar levels within the target range can help prevent or delay the onset of diabetic foot complications. Follow a healthy eating plan, take prescribed medications as directed, monitor blood sugar levels regularly, and work with healthcare professionals to manage diabetes effectively.</p>
                <h4>Inspect feet daily</h4>
                <p>Perform a daily foot inspection to check for any signs of injury, cuts, blisters, redness, or changes in skin color. If you have difficulty seeing the bottom of your feet, use a mirror or ask a family member for assistance. Detecting problems early allows for prompt treatment and can prevent them from escalating.</p>
                <h4>Practice proper foot hygiene</h4>
                <p>Wash your feet daily with lukewarm water and mild soap. Gently dry your feet, paying close attention to the areas between the toes. Moisturize your feet to prevent dry skin but avoid applying lotion between the toes as it can create a moist environment that promotes fungal growth.</p>
                <h4>Trim nails carefully</h4>
                <p>Trim your toenails straight across and avoid cutting them too short. If you have difficulty trimming your nails or have ingrown toenails, seek assistance from a podiatrist.</p>
                <h4>Wear proper footwear</h4>
                <p>Choose comfortable, well-fitting shoes that provide adequate support and protection for your feet. Avoid narrow or pointed shoes that can compress the toes. Inspect your shoes for any foreign objects or rough edges before putting them on.</p>
                <h4>Avoid walking barefoot</h4>
                <p>Always wear shoes or slippers to protect your feet, even indoors. Walking barefoot increases the risk of injuries and exposes the feet to potential hazards.</p>
                <h4>Manage foot moisture</h4>
                <p>Keep your feet dry to prevent the development of fungal infections. If your feet tend to sweat excessively, use foot powder or antiperspirant spray recommended by your healthcare professional.</p>
                <h4>Avoid extreme temperatures</h4>
                <p>Protect your feet from extreme heat and cold. Use appropriate footwear or protective measures, such as wearing socks in cold weather or avoiding direct contact with hot surfaces.</p>
                <h4>Exercise and improve circulation</h4>
                <p>Engage in regular physical activity to promote circulation and improve overall health. Consult with your healthcare professional to determine suitable exercise options.</p>
                <h4>Regular foot exams</h4>
                <p>Schedule regular foot examinations with a healthcare professional, such as a podiatrist, who can assess your foot health, identify any potential issues, and provide guidance on preventive measures.</p>
              </div>
              <div class="col" id="col8">
                <h2>When do I need to see a doctor?</h2>
                <p>Diabetic foot is a condition that can occur in individuals with diabetes, and it is characterized by various symptoms. If you are experiencing any of the following symptoms, it is advisable to consult a podiatrist, who is a specialist in foot care:</p>
                <h4>Numbness or tingling sensation</h4>
                <p>One of the early signs of diabetic foot is neuropathy, which can cause a loss of sensation in the feet. You may feel a tingling or numbness in your feet or toes.</p>
                <h4>Foot ulcers or sores</h4>
                <p>Diabetes can affect the blood circulation and impair wound healing. If you notice any open sores, ulcers, or persistent redness on your feet, it is important to have them evaluated promptly.</p>
                <h4>Skin discoloration or temperature changes</h4>
                <p>The feet may exhibit changes in color, such as redness, bluish tint, or a pale appearance. You may also notice that one foot feels noticeably colder or warmer compared to the other.</p>
                <h4>Swelling and inflammation</h4>
                <p>Diabetic foot can cause swelling, particularly around the ankles. If you notice persistent swelling or inflammation in your feet, it is a reason to seek medical attention.</p>
                <h4>Pain or cramping</h4>
                <p>Some individuals with diabetic foot experience chronic pain or cramping in their feet, especially during physical activity or while resting.</p>
                <h4>Changes in nail health</h4>
                <p>Diabetes can affect the nails as well. Look out for thickened, brittle, or discolored nails. Ingrown toenails and fungal infections are also common.</p>
                <h4>Poor circulation</h4>
                <p>Reduced blood flow to the feet is a common complication in diabetes. If you experience cold or numb feet, or if the skin appears shiny or thin, it may indicate poor circulation.</p>
                <p>It's worth noting that these symptoms can also be associated with other foot conditions or complications unrelated to diabetes. Therefore, it is crucial to consult with a podiatrist or healthcare professional for an accurate diagnosis and appropriate treatment.</p>
              </div>
            </div>
        </section>
        <serction id="footer">
          <div class="phone">
            <p>Call us to book online</p>
            <a href="tel:+13322309230">(332)-230-9230</a>
          </div>
          <ul class="c-social">
                <li class="c-social_item">
                    <a class="c-social_link" href="/" target="_blank" aria-label="Instagram">
                    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
                    </a>
                </li>
                <li class="c-social_item">
                    <a class="c-social_link" href="/" target="_blank" aria-label="Facebook">
                    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg>
                    </a>
                </li>
                <li class="c-social_item">
                        <a class="c-social_link" href="/" target="_blank" aria-label="Youtube">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px"
                                viewBox="0 0 24 24"  >
                                <path d="M12,2c5.5,0,10,4.5,10,10s-4.5,10-10,10S2,17.5,2,12S6.5,2,12,2z M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12
                                    S18.6,0,12,0z"/>
                                <path d="M15.8,7.8H8.2c-1.5,0-2.7,1.2-2.7,2.6v3.7c0,1.5,1.2,2.6,2.7,2.6h7.5c1.5,0,2.7-1.2,2.7-2.6v-3.7
                                    C18.4,8.9,17.2,7.8,15.8,7.8z M14,12.4l-3.5,1.7c-0.1,0-0.2,0-0.2-0.1c0,0,0,0,0-0.1v-3.4c0-0.1,0.1-0.1,0.1-0.1c0,0,0,0,0.1,0
                                    l3.5,1.8C14.1,12.2,14.1,12.4,14,12.4L14,12.4z"/>
                            </svg>                       
                        </a>
                </li>
          </ul>
        </serction>
</Layout>
