---
import "@assets/styles/sidebar.scss"
---

<header class='header' data-target="">
    <div class="o-button-fixed -left -front">
        <button class="o-button -circle js-nav-toggle" type="button">
            <span class="o-button_circle-icon -nav">
                <span class="o-button_circle-icon_wrap"></span>
            </span>
            <span class="o-button_label">Menu</span>
        </button>
    </div>
    <a href="/booking" class="o-button-fixed -front right-fixet-button">
        <button class="o-button -circle js-nav-toggle" type="button">
            <span class="circle-icon-booking">              
                <svg
                width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M1055 5106 c-72 -32 -95 -85 -95 -218 l0 -88 -227 0 c-257 0 -321 -9
                    -429 -62 -92 -44 -197 -149 -241 -239 -67 -136 -63 1 -63 -2100 0 -1869 0
                    -1907 20 -1983 25 -101 69 -176 144 -252 76 -75 151 -119 252 -144 76 -20 115
                    -20 2144 -20 2026 0 2068 0 2144 20 105 26 168 63 247 140 80 79 123 153 149
                    256 20 76 20 114 20 1983 0 2101 4 1964 -63 2100 -43 89 -149 195 -240 239
                    -107 52 -172 62 -428 62 l-227 0 -4 109 c-3 91 -7 115 -24 137 -70 94 -190 96
                    -251 5 -20 -30 -23 -46 -23 -142 l0 -109 -335 0 -335 0 0 100 c0 117 -13 156
                    -61 191 -45 32 -125 33 -165 3 -60 -44 -69 -67 -72 -185 l-4 -109 -328 0 -328
                    0 -4 109 c-3 118 -12 141 -72 185 -40 30 -120 29 -165 -3 -48 -35 -61 -74 -61
                    -191 l0 -100 -335 0 -335 0 0 109 c0 96 -3 112 -23 142 -40 61 -117 84 -182
                    55z m-93 -713 c4 -124 18 -158 78 -192 72 -40 158 -18 200 51 17 28 20 51 20
                    141 l0 107 335 0 335 0 0 -107 c0 -90 3 -113 20 -141 61 -100 204 -95 258 8
                    18 37 22 60 22 142 l0 98 330 0 330 0 0 -98 c0 -82 4 -105 23 -142 53 -103
                    196 -108 257 -8 17 28 20 51 20 141 l0 107 335 0 335 0 0 -107 c0 -122 13
                    -156 72 -194 41 -25 122 -22 160 7 50 37 62 71 66 187 l4 108 237 -3 236 -3
                    53 -30 c56 -30 100 -83 120 -144 8 -22 12 -116 12 -262 l0 -229 -2260 0 -2260
                    0 0 229 c0 148 4 240 12 262 17 51 54 101 93 128 68 46 97 50 331 51 l222 0 4
                    -107z m3858 -2371 c0 -1695 6 -1564 -76 -1646 -82 -83 113 -76 -2184 -76
                    -2297 0 -2102 -7 -2184 76 -82 82 -76 -49 -76 1646 l0 1508 2260 0 2260 0 0
                    -1508z"/>
                    <path d="M800 3008 c-18 -13 -43 -36 -54 -51 -20 -28 -21 -39 -21 -397 0 -358
                    1 -369 21 -397 11 -15 36 -38 54 -50 33 -23 36 -23 395 -23 359 0 362 0 395
                    23 18 12 43 35 54 50 20 28 21 39 21 397 0 358 -1 369 -21 397 -11 15 -36 38
                    -54 51 -33 22 -36 22 -395 22 -359 0 -362 0 -395 -22z m570 -448 l0 -170 -175
                    0 -175 0 0 170 0 170 175 0 175 0 0 -170z"/>
                    <path d="M3530 3008 c-18 -13 -43 -36 -54 -51 -20 -28 -21 -39 -21 -397 0
                    -358 1 -369 21 -397 11 -15 36 -38 54 -50 33 -23 36 -23 395 -23 359 0 362 0
                    395 23 18 12 43 35 54 50 20 28 21 39 21 397 0 358 -1 369 -21 397 -11 15 -36
                    38 -54 51 -33 22 -36 22 -395 22 -359 0 -362 0 -395 -22z m570 -448 l0 -170
                    -175 0 -175 0 0 170 0 170 175 0 175 0 0 -170z"/>
                    <path d="M2855 2930 c-18 -6 -102 -82 -217 -197 l-188 -188 -67 67 c-38 36
                    -82 73 -100 82 -118 59 -250 -65 -202 -191 5 -15 69 -87 142 -160 151 -153
                    188 -175 260 -154 35 11 84 54 291 259 136 136 254 261 262 279 50 115 -62
                    240 -181 203z"/>
                    <path d="M827 1736 c-50 -18 -67 -34 -88 -81 -17 -36 -19 -73 -19 -380 0 -334
                    0 -342 23 -385 16 -33 34 -51 67 -67 43 -23 52 -23 385 -23 334 0 342 0 385
                    23 26 13 53 36 65 57 19 33 20 52 20 395 0 344 -1 362 -20 395 -12 19 -36 43
                    -55 55 -33 19 -53 20 -380 22 -271 2 -353 0 -383 -11z m538 -461 l0 -170 -170
                    0 -170 0 -3 160 c-1 87 0 165 3 172 3 11 41 13 172 11 l168 -3 0 -170z"/>
                    <path d="M2196 1740 c-16 -5 -40 -19 -53 -32 -53 -49 -53 -51 -53 -436 0 -356
                    0 -359 23 -392 12 -18 35 -43 50 -54 28 -20 39 -21 397 -21 358 0 369 1 397
                    21 15 11 38 36 51 54 22 33 22 36 22 395 0 359 0 362 -22 395 -13 18 -36 43
                    -51 54 -27 20 -40 21 -380 23 -194 1 -365 -2 -381 -7z m534 -465 l0 -175 -170
                    0 -170 0 0 175 0 175 170 0 170 0 0 -175z"/>
                    <path d="M3555 1735 c-49 -18 -81 -53 -95 -106 -7 -26 -10 -157 -8 -377 3
                    -385 4 -387 88 -429 43 -23 51 -23 385 -23 333 0 342 0 385 23 33 16 51 34 68
                    67 22 43 22 52 22 385 0 503 33 469 -460 472 -280 2 -353 0 -385 -12z m540
                    -460 l0 -170 -170 0 -170 0 -3 160 c-1 87 0 165 3 172 3 11 41 13 172 11 l168
                    -3 0 -170z"/>
                    </g>
                </svg>
            </span>
            <span class="o-button_label">Online Booking</span>
        </button>
    </a>
    <nav class="c-nav">
    <div class="c-nav_background o-background js-nav-close"></div>
    <div class="c-nav_main">
        <ul class="c-nav_list">
            <li class="c-nav_item">
                <a href="/" class="c-nav_link -home is-current js-nav-link"
                    data-transition="nav" data-transition-class="home">
                    <span class="c-nav_label">Home</span>
                </a>
                <div class="c-nav_overlay -home o-background"></div>
            </li>
            <li class="c-nav_item">
                <a href="/" class="c-nav_link -about js-nav-link" data-transition="nav"
                    data-transition-class="about">
                    <span class="c-nav_label">About our Practice</span>
                </a>
                <div class="c-nav_overlay -about o-background"></div>
            </li>
            <li class="c-nav_item conservative-link">
                <a href="/" class="c-nav_link -contact js-nav-link" data-transition="nav"
                    data-transition-class="contact">
                    <span class="c-nav_label">Conservative treatment</span>
                </a>
                <div class="conservative">
                    <span class="span-condicition">Conservative Procedure:</span>
                    <ul>
                        <li><a>Orthotics</a></li>
                        <li><a>Wound care</a></li>
                        <li><a>Footwear modifications</a></li>
                        <li><a>Padding and strapping</a></li>
                        <li><a>Physical therapy</a></li>
                        <li><a>Footwear education</a></li>
                        <li><a>Medications</a></li>
                        <li><a>Immobilization</a></li>
                        <li><a>Manual therapy</a></li>
                        <li><a>Gait analysis</a></li>
                        <li><a>Steroid injections</a></li>
                        <li><a>Shock Wave</a></li>
                        <li><a>Laser therapy</a></li>
                        <li><a>Cryotherapy</a></li>
                    </ul>
                </div>
                <div class="c-nav_overlay -contact o-background"></div>
            </li>
            <li class="c-nav_item surgical-link">
                <a href="/" class="c-nav_link -contact js-nav-link" data-transition="nav"
                    data-transition-class="contact">
                    <span class="c-nav_label">Surgical treatment</span>
                </a>
                <div class="surgical">
                    <span class="span-condicition">Surgery:</span>
                    <ul>
                        <li><a>Bunionectomy</a></li>
                        <li><a>Hammertoe correction</a></li>
                        <li><a>Ingrown toenail</a></li>
                        <li><a>Plantar fascia release</a></li>
                        <li><a>Achilles tendon repair</a></li>
                        <li><a>Foot and ankle fusion</a></li>
                        <li><a>Foot fracture repair</a></li>
                        <li><a>Flatfoot reconstruction</a></li>
                        <li><a>Corn or callus removal</a></li>
                        <li><a>Incision and drainage</a></li>
                        <li><a>Rebuilding the foot arches</a></li>
                        <li><a>Minimally invasive foot surgery</a></li>
                        <li><a>Minimally invasive ankle surgery</a></li>
                        <li><a>Neuroma removal</a></li>
                        <li><a>Arthroscopy</a></li>
                        <li><a>Wart removal</a></li>
                        <li><a>Synovectomy</a></li>
                        <li><a>Exostectomy</a></li>
                        <li><a>Amputation</a></li>
                    </ul>
                </div>
                <div class="c-nav_overlay -contact o-background"></div>
            </li>
            <li class="c-nav_item">
                <a href="/" class="c-nav_link -about js-nav-link" data-transition="nav"
                    data-transition-class="about">
                    <span class="c-nav_label">Contact us</span>
                </a>
                <div class="c-nav_overlay -about o-background"></div>
            </li>
        </ul>
        <div class="c-nav_overlay -default o-background"></div>
        <div class="c-nav_social">
            <ul class="c-social">
                <li class="c-social_item">
                    <a class="c-social_link" href="/" target="_blank" aria-label="Instagram">
                    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>
                    </a>
                </li>
                <li class="c-social_item">
                    <a class="c-social_link" href="/" target="_blank" aria-label="Facebook">
                    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 10h-2v2h2v6h3v-6h1.82l.18-2h-2v-.833c0-.478.096-.667.558-.667h1.442v-2.5h-2.404c-1.798 0-2.596.792-2.596 2.308v1.692z"/></svg>
                    </a>
                </li>
                <li class="c-social_item">
                        <a class="c-social_link" href="/" target="_blank" aria-label="Youtube">
                            <svg version="1.1" id="Layer_1"  x="0px" y="0px"
                                viewBox="0 0 24 24"  >
                                <path d="M12,2c5.5,0,10,4.5,10,10s-4.5,10-10,10S2,17.5,2,12S6.5,2,12,2z M12,0C5.4,0,0,5.4,0,12s5.4,12,12,12s12-5.4,12-12
                                    S18.6,0,12,0z"/>
                                <path d="M15.8,7.8H8.2c-1.5,0-2.7,1.2-2.7,2.6v3.7c0,1.5,1.2,2.6,2.7,2.6h7.5c1.5,0,2.7-1.2,2.7-2.6v-3.7
                                    C18.4,8.9,17.2,7.8,15.8,7.8z M14,12.4l-3.5,1.7c-0.1,0-0.2,0-0.2-0.1c0,0,0,0,0-0.1v-3.4c0-0.1,0.1-0.1,0.1-0.1c0,0,0,0,0.1,0
                                    l3.5,1.8C14.1,12.2,14.1,12.4,14,12.4L14,12.4z"/>
                            </svg>                       
                        </a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <script>
        const button = document.querySelector(".o-button-fixed");
        const banner = document.querySelector(".js-nav-close");
        const bodyClass = document.querySelector(".event-sidebar");
        let boolClass=false;
        function ClickFunction() {
                if(boolClass==false){
                    bodyClass.classList.add("has-nav-open");
                    bodyClass.classList.add("has-nav-ready");
                    boolClass=true;
                }
                else {
                    bodyClass.classList.remove("has-nav-open");
                    boolClass=false;                        
                }
        }
        button.addEventListener("click", ClickFunction);
        banner.addEventListener("click", ClickFunction);

        window.addEventListener('scroll', () => {
            if(window.pageYOffset>(window.innerHeight-50)){
                bodyClass.classList.add("black-menu");
            }
            else{
                bodyClass.classList.remove("black-menu");
            }
        });
    </script>     
</header>

