@font-face {
	font-family: 'regular';
	font-style: normal;
	font-weight: normal;
	font-weight: 600;
	src: url(../../../public/fonts/Moon2.0-Regular.otf) format('truetype');
	font-display: swap;
}

::selection {
    background: #565353; /* Safari */
    color: #fff;
    }
::-moz-selection {
    background: #565353; /* Firefox */
    color: #fff;
}

body{
    margin: 0!important;
}

.body-white{
    overflow: hidden;
    body{
        background-color: #fff;
        background-image: none!important;
    }
}
body::-webkit-scrollbar {
    width: 0em;
}

.scroll{
    overflow-y: visible;
    overflow-x: hidden;
}



.header{
    position: fixed;
    z-index: 5;
}

.logo{
    width: 8vw;
    position: fixed;
    float: left;
    right: 0.5vw;
    margin-top: 3px;
    top: 0;
    z-index: 4;
    padding-top: 40px;
    .logo-webp{
        width: 100%;
    }
}

.o-button_label{
   font-size: 1.2rem!important;
   left:-0.5vw
}

.has-nav-ready{
    .header{
        position: fixed;
        z-index: 10!important;
    }
} 

.c-social_link{
    svg{
        width: 3.5vh;
        height: 3.5vh;
        fill: #000;
        position: relative;
        z-index: 1;
        g{
            fill: #fff;
        }
    }
}

@media (min-width: 1150px) and (max-width:1600px) {
    .logo{
        width:9vw;
        height: 4.5vw;
        right: 2vw;
        top: 45px;
    }
}

@media (min-width: 1000px) and (max-width:1150px) {
    .logo{
        width: 11vw;
        height: 7vw;
        right: 3vw;
        top: 25px;
    }
}

@media (min-width: 700px) and (max-width:1000px) {
    .logo{
        width: 11vw;
        height: 10vw;
        right: 3vw;
        top: 20px;
    }
}

@media (min-width: 600px) and (max-width:700px) {
    .logo{
        width: 14vw;
        height: 9vw;
        right: 3vw;
        top: 14px;
    }
}

@media (min-width: 500px) and (max-width:600px) {
    .logo{
        width: 16vw;
        height: 10vw;
        right: 3vw;
        top: 14px;
    }
}

@media (min-width: 200px) and (max-width:500px) {
    .logo{
        width: 22vw;
        height: 15vw;
        right: 4vw;
        top: 11px;
    }
}


@media (max-width: 699px) {
    .o-button_circle, .o-button_circle-icon {
        width: 40px;
        height: 40px;
        -webkit-transition: background-color .3s cubic-bezier(.4, 0, 0, 1);
        transition: background-color .3s cubic-bezier(.4, 0, 0, 1)
    }

    .has-nav-open .o-button_circle, .has-nav-open .o-button_circle-icon {
        background-color: #eee;
        -webkit-transition-delay: .3s;
        transition-delay: .3s
    }
}

@media (min-width: 700px) {
    .o-button_circle, .o-button_circle-icon {
        width: 50px;
        height: 50px
    }
}


.o-button, button {
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: none transparent;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.o-button:focus, .o-button:hover, button:focus, button:hover {
    text-decoration: none
}

.o-button {
    position: relative;
    color: #fff;
    font-family: "Moderat Trial", sans-serif;
    letter-spacing: -.01em;
    font-weight: 300;
    font-size: 0;
    padding-right: 35px;
    -webkit-transition: color .3s cubic-bezier(.4, 0, 0, 1);
    transition: color .3s cubic-bezier(.4, 0, 0, 1)
}

.o-button::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle
}

.o-button>* {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle
}

@media (max-width: 699px) {
    .o-button {
        width: 100%;
        max-width: 240px;
        height: 60px;
        border-radius: 30px;
        padding-left: 65px
    }

    .c-home .o-button {
        max-width: 160px
    }

    .o-button::after {
        border-radius: 30px
    }
}

@media (min-width: 700px) {
    .o-button {
        height: 70px;
        border-radius: 35px;
        min-width: 230px;
        padding-left: 80px
    }

    .o-button::after {
        border-radius: 35px;
    }
}

@media (min-width: 700px) and (max-width:999px) {
    .o-button {
        width: 100%;
        max-width: 300px
    }

    .c-home .o-button {
        width: auto
    }
}

.o-button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .15s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: opacity .15s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), opacity .15s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), opacity .15s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

.o-button.-focus:focus, .o-button:hover:not(.is-selected) {
    color: #fff
}

.o-button.-focus:focus::after, .o-button:hover:not(.is-selected)::after {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

.o-button.-circle {
    min-width: 0
}

.o-button.-circle::after {
    opacity: 0;
    -webkit-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    transition: 0.4s;

}

.o-button.-circle:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: #fff ;
    transition: 0.4s;
}

@media (max-width: 699px) {
    .o-button.-circle {
        padding: 0 !important;
        width: 60px
    }

    .o-button.-circle::after {
        display: none
    }

    .c-nav_flag .o-button.-circle {
        width: auto
    }

    .c-nav_flag .o-button.-circle::after {
        display: inline-block
    }
}

.o-button.-nolabel::after {
    display: none
}

.o-button.-nopadding {
    padding: 0;
    padding-left: 35px
}

.o-button-deselect:hover .o-button::after, .o-button.-white:not(.is-selected)::after {
    background-color: #fff
}

.o-button-deselect:hover .o-button:hover, .o-button.-white:not(.is-selected):hover {
    color: #fff
}

.o-button-deselect:hover .o-button:hover::after, .o-button.-white:not(.is-selected):hover::after {
    background-color: #101010
}

.o-button.-right {
    padding-left: 35px;
    padding-right: 80px
}

.o-button.-full {
    width: 100%
}

.o-button.is-selected {
    cursor: default
}

.o-button.-multiple {
    padding: 0;
    cursor: default
}

.c-nav_flag .o-button.-multiple {
    white-space: nowrap
}

.o-button:-moz-focusring {
    outline: 0
}

.o-button.-nocircle {
    padding-left: 0;
    padding-right: 0
}

@media (max-width: 699px) {
    .o-button.-nocircle {
        min-width: 140px
    }
}

@media (min-width: 700px) {
    .o-button.-nocircle {
        min-width: 220px
    }
}

.o-button_circle, .o-button_circle-icon {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffb8;
    border-radius: 50%;
    z-index: 3;
    margin: 10px;
}

.o-button.-black .o-button_circle, .o-button.-black .o-button_circle-icon {
    background-color: #000
}

.o-button.-right .o-button_circle, .o-button.-right .o-button_circle-icon {
    left: auto;
    right: 0
}

.o-button.-multiple .o-button_circle, .o-button.-multiple .o-button_circle-icon {
    position: relative;
    margin: 0;
    margin-left: 10px
}

.o-button.-multiple .o-button_circle-icon:last-child, .o-button.-multiple .o-button_circle:last-child {
    margin-right: 10px
}

.o-button_circle-icon.-gray, .o-button_circle.-gray {
    background-color: #eee;
    margin: 0
}

.o-button_circle-icon {
    font-size: 0;
    -webkit-transition: background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

.o-button_circle-icon::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle
}

.o-button_circle-icon>* {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle
}

.has-nav-open .o-button_circle-icon.-nav {
    background-color: #fff;
}

.o-button_circle-icon.-gallery::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 4px solid #fff;
    margin-left: -2px;
    -webkit-transition: border-color .3s cubic-bezier(.4, 0, 0, 1), opacity .3s cubic-bezier(.4, 0, 0, 1);
    transition: border-color .3s cubic-bezier(.4, 0, 0, 1), opacity .3s cubic-bezier(.4, 0, 0, 1)
}

@media (max-width: 699px) {
    .o-button_circle-icon.-gallery::after {
        border-left-width: 3px;
        margin-left: -1px
    }
}

.has-gallery-open .o-button_circle-icon.-gallery {
    background-color: #000
}

.has-gallery-open .o-button_circle-icon.-gallery::after {
    border-color: #000;
    opacity: 0
}

.snip-open .o-button-fixed.-cart .o-button_circle-icon {
    background-color: #000
}

.snip-open .o-button-fixed.-cart .o-button_circle-icon::after {
    border-color: #000;
    opacity: 0
}

.o-button:hover .o-button_circle-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.o-button:hover .o-button_circle-icon.-no-rotate {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.o-button.-multiple:hover .o-button_circle-icon:last-child {
    background-color: #000
}

.o-button.-right:hover .o-button_circle-icon {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.o-button.-right:hover .o-button_circle-icon.-no-rotate {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.o-button_circle-icon.-hidden {
    background-color: transparent
}

.o-button_circle-icon.-hidden::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), background-color .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

.o-button_circle-icon.-hidden:hover::after {
    background-color: #eee
}

.o-button.-multiple:hover .o-button_circle-icon.-hidden::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(1) .o-button_icon, .o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(1)::after {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

.o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(2) .o-button_icon, .o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(2)::after {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(2) .o-button_icon, .o-button.-multiple:hover .o-button_circle-icon.-hidden:nth-child(2)::after {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}

.o-button-container:hover .o-button_circle-icon.-hidden::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

[data-template=shop] .o-button-fixed .o-button_circle-icon, [data-template=terms] .o-button-fixed .o-button_circle-icon {
    background-color: #000
}

.o-button_circle-icon.-close {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent !important
}

.o-button_circle-icon_wrap {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

@media (max-width: 699px) {
    .o-button_circle-icon_wrap {
        width: 13px;
        height: 10px
    }
}

@media (min-width: 700px) {
    .o-button_circle-icon_wrap {
        width: 16px;
        height: 12px
    }
}

.o-button_circle-icon_wrap::after, .o-button_circle-icon_wrap::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    border-top: 2px solid #000;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

[data-template=shop] .o-button_circle-icon_wrap::after, [data-template=shop] .o-button_circle-icon_wrap::before, [data-template=terms] .o-button_circle-icon_wrap::after, [data-template=terms] .o-button_circle-icon_wrap::before {
    border-top-color: #fff
}

.o-button_circle-icon_wrap::before {
    top: 0
}

.o-button_circle-icon_wrap::after {
    bottom: 0
}

.o-button_circle-icon.-nav .o-button_circle-icon_wrap::before {
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left
}

.o-button_circle-icon.-nav .o-button_circle-icon_wrap::after {
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left
}

.has-nav-open .o-button_circle-icon.-nav .o-button_circle-icon_wrap {
    -webkit-transform: rotate(90deg) translateX(2px);
    -ms-transform: rotate(90deg) translateX(2px);
    transform: rotate(90deg) translateX(2px)
}

.has-nav-open .o-button_circle-icon.-nav .o-button_circle-icon_wrap::after, .has-nav-open .o-button_circle-icon.-nav .o-button_circle-icon_wrap::before {
    border-color: #000;
}

.has-nav-open .o-button_circle-icon.-nav .o-button_circle-icon_wrap::before {
    -webkit-transform: rotate(45deg) translateY(-1px);
    -ms-transform: rotate(45deg) translateY(-1px);
    transform: rotate(45deg) translateY(-1px)
}

.has-nav-open .o-button_circle-icon.-nav .o-button_circle-icon_wrap::after {
    -webkit-transform: rotate(-45deg) translateY(1px);
    -ms-transform: rotate(-45deg) translateY(1px);
    transform: rotate(-45deg) translateY(1px)
}

.has-nav-open .o-button:hover .o-button_circle-icon.-nav .o-button_circle-icon_wrap {
    -webkit-transform: rotate(90deg) translateX(1px);
    -ms-transform: rotate(90deg) translateX(1px);
    transform: rotate(90deg) translateX(1px)
}

.o-button_circle-icon.-gallery .o-button_circle-icon_wrap::before {
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right
}

.o-button_circle-icon.-gallery .o-button_circle-icon_wrap::after {
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right
}

.has-gallery-open .o-button_circle-icon.-gallery .o-button_circle-icon_wrap {
    -webkit-transform: rotate(-90deg) translateX(-2px);
    -ms-transform: rotate(-90deg) translateX(-2px);
    transform: rotate(-90deg) translateX(-2px)
}

.has-gallery-open .o-button_circle-icon.-gallery .o-button_circle-icon_wrap::after, .has-gallery-open .o-button_circle-icon.-gallery .o-button_circle-icon_wrap::before {
    border-color: #fff
}

.has-gallery-open .o-button_circle-icon.-gallery .o-button_circle-icon_wrap::before {
    -webkit-transform: rotate(-45deg) translateY(-1px);
    -ms-transform: rotate(-45deg) translateY(-1px);
    transform: rotate(-45deg) translateY(-1px)
}

.has-gallery-open .o-button_circle-icon.-gallery .o-button_circle-icon_wrap::after {
    -webkit-transform: rotate(45deg) translateY(1px);
    -ms-transform: rotate(45deg) translateY(1px);
    transform: rotate(45deg) translateY(1px)
}

.has-gallery-open .o-button:hover .o-button_circle-icon.-gallery .o-button_circle-icon_wrap {
    -webkit-transform: rotate(-90deg) translateX(-1px);
    -ms-transform: rotate(-90deg) translateX(-1px);
    transform: rotate(-90deg) translateX(-1px)
}

.o-button_wrap {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.o-button_link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -35px;
    display: inline-block;
    font-size: 0;
    padding-left: 80px;
    padding-right: 35px;
    color: #fff;
    z-index: 2
}

.o-button_link::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle
}

.o-button_link>* {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle
}

.o-button.-nocircle .o-button_link {
    padding-left: 35px;
    left: 0
}

.o-button_link:hover {
    color: #fff
}

.o-button_link.-discover {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: transform .9s cubic-bezier(.4, 0, 0, 1), -webkit-transform .9s cubic-bezier(.4, 0, 0, 1)
}

body.is-discover .o-button_link.-discover {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.o-button_label {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-bottom: .125em;
    width: 100%
}

.o-button.-circle .o-button_label {
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    -webkit-transition: opacity .15s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: opacity .15s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), opacity .15s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), opacity .15s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    opacity: 0
}

@media (max-width: 699px) {
    .o-button.-circle .o-button_label {
        display: none
    }
}

.o-button.-circle.-right .o-button_label {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px)
}

.o-button.-circle:hover .o-button_label {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.o-button_icon-wrap {
    display: inline-block;
    position: relative;
    font-size: 1px;
    z-index: 2
}

@media (max-width: 699px) {
    .o-button_icon-wrap {
        width: 10px;
        height: 10px;
        padding-top: 4px;
        margin-top: 12px
    }
}

@media (min-width: 700px) {
    .o-button_icon-wrap {
        width: 18px;
        height: 18px;
        padding-top: 3px;
        margin-top: 16px
    }
}

.o-button_icon {
    position: relative;
    fill: #101010;
    -webkit-transition: fill .3s cubic-bezier(.4, 0, 0, 1);
    transition: fill .3s cubic-bezier(.4, 0, 0, 1)
}

.o-button_icon svg {
    fill: #101010
}

@media (max-width: 699px) {
    .o-button_icon {
        width: 10px;
        height: 10px
    }

    .o-button_icon.-big {
        width: 16px;
        height: 16px
    }
}

@media (min-width: 700px) {
    .o-button_icon {
        width: 14px;
        height: 14px
    }

    .o-button_icon.-big {
        width: 18px;
        height: 18px
    }
}

.o-button.-black .o-button_icon, .o-button.-red .o-button_icon {
    fill: #fff
}

.o-button.-black .o-button_icon svg, .o-button.-red .o-button_icon svg {
    fill: #fff
}

.o-button_circle-icon.-hidden .o-button_icon {
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity .15s cubic-bezier(.4, 0, 0, 1);
    transition: opacity .15s cubic-bezier(.4, 0, 0, 1)
}

.o-button-container:hover .o-button_circle-icon.-hidden .o-button_icon, .o-button.-multiple:hover .o-button_circle-icon.-hidden .o-button_icon {
    opacity: 1
}

.o-button.-multiple:hover .o-button_circle-icon:last-child .o-button_icon {
    fill: #fff
}

.o-button.-multiple:hover .o-button_circle-icon:last-child .o-button_icon svg {
    fill: #fff
}

[data-template=shop] .o-button_icon, [data-template=terms] .o-button_icon {
    fill: #fff
}

[data-template=shop] .o-button_icon svg, [data-template=terms] .o-button_icon svg {
    fill: #fff
}

.snip-open .o-button-fixed.-cart .o-button_icon {
    fill: #fff
}

.o-button_circle-icon.-open .o-button_icon {
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.snip-open .o-button_circle-icon.-open .o-button_icon {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

.o-button_circle-icon.-close .o-button_icon {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

.snip-open .o-button_circle-icon.-close .o-button_icon {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.o-button_icon.-flag {
    display: none;
    width: 1.5625rem;
    height: 1.5625rem
}

.o-button_circle-icon.-hidden .o-button_icon.-flag, .o-button_icon.-flag.is-active {
    display: inline-block
}

.o-button-fixed {
    position: fixed;
    top: 0;
    z-index: 1;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: transform .9s cubic-bezier(.4, 0, 0, 1);
    transition: transform .9s cubic-bezier(.4, 0, 0, 1), -webkit-transform .9s cubic-bezier(.4, 0, 0, 1)
}

.o-button-fixed.-front {
    z-index: 3
}

@media (max-width: 699px) {
    .o-button-fixed.-front.-right {
        z-index: 2
    }
}

@media (min-width: 700px) {
    .o-button-fixed.-front.-right {
        z-index: 2
    }
}

@media (max-width: 699px) {
    .o-button-fixed.-front.-left {
        z-index: 2
    }
}

@media (max-width: 699px) {
    .o-button-fixed.-front.-left {
        -webkit-transition: opacity .3s cubic-bezier(.4, 0, 0, 1) .4s, -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
        transition: opacity .3s cubic-bezier(.4, 0, 0, 1) .4s, -webkit-transform .9s cubic-bezier(.4, 0, 0, 1);
        transition: transform .9s cubic-bezier(.4, 0, 0, 1), opacity .3s cubic-bezier(.4, 0, 0, 1) .4s;
        transition: transform .9s cubic-bezier(.4, 0, 0, 1), opacity .3s cubic-bezier(.4, 0, 0, 1) .4s, -webkit-transform .9s cubic-bezier(.4, 0, 0, 1)
    }

    .has-gallery-open .o-button-fixed.-front.-left {
        opacity: 0;
        -webkit-transition-delay: .4s;
        transition-delay: .4s
    }
}

@media (max-width: 699px) {
    .o-button-fixed {
        padding-top: 12px
    }
}

@media (min-width: 700px) and (max-width:1199px) {
    .o-button-fixed {
        padding-top: 30px
    }
}

@media (min-width: 1200px) {
    .o-button-fixed {
        padding-top: 45px
    }
}

.o-button-fixed.-left {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

body[data-template=contact] .o-button-fixed.-left {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

@media (max-width: 699px) {
    .o-button-fixed.-left {
        left: 12px
    }
}

@media (min-width: 700px) and (max-width:1199px) {
    .o-button-fixed.-left {
        left: 30px
    }
}

@media (min-width: 1200px) {
    .o-button-fixed.-left {
        left: 45px
    }
}

.o-button-fixed {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

body[data-template=home]:not(.is-discover) .o-button-fixed.-left {
    -webkit-transition-delay: 1.8s;
    transition-delay: 1.8s
}

body[data-template=home]:not(.is-discover) .o-button-fixed.-right {
    -webkit-transition-delay: 2s;
    transition-delay: 2s
}

.o-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center
}

.c-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transition: visibility 0s .8s;
    transition: visibility 0s .8s
}

@media (max-width: 699px) {
    .c-nav {
        z-index: 2
    }
}

@media (min-width: 700px) {
    .c-nav {
        z-index: 2
    }
}

body.has-nav-open .c-nav {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.c-nav_background {
    cursor: pointer
}

.c-nav_overlay {
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .9s cubic-bezier(.4, 0, 0, 1);
    transition: opacity .9s cubic-bezier(.4, 0, 0, 1);
    pointer-events: none
}

body.has-nav-open .c-nav_overlay {
    -webkit-transition-duration: .6s;
    transition-duration: .6s
}

body.has-nav-ready .c-nav_overlay {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

.c-nav_overlay.-default {
    background-color: #201f1fa5;
    backdrop-filter: blur(5px);
    margin: -100px;
}

body.has-nav-open .c-nav_list:not(.is-current)+.c-nav_overlay.-default {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: .95
}

body.has-nav-open .c-nav_link.is-current~.c-nav_overlay, body.has-nav-open .c-nav_link:hover~.c-nav_overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: .95;
    z-index: 2
}

body.has-nav-open .c-nav_list:hover .c-nav_link.is-current~.c-nav_overlay {
    opacity: 0;
    -webkit-transition-delay: .15s;
    transition-delay: .15s;
    z-index: 1
}

body.has-nav-open .c-nav_list:hover .c-nav_link.is-current:hover~.c-nav_overlay {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    opacity: .95;
    z-index: 2
}

.c-nav_main {
    height: 100%;
    font-size: 0;
    text-align: center
}

.c-nav_main::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle
}

.c-nav_main>* {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle
}

@media (max-width: 699px) {
    .c-nav_main::after {
        width: 100%
    }
}

@media (min-width: 700px) {
    .c-nav_main {
        width: 50rem
    }

    .c-nav_main::after {
        width: 50rem
    }
}

.c-nav_main::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #000000d5;
    z-index: 3;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1) .2s;
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1) .2s;
    transition: transform .6s cubic-bezier(.4, 0, 0, 1) .2s;
    transition: transform .6s cubic-bezier(.4, 0, 0, 1) .2s, -webkit-transform .6s cubic-bezier(.4, 0, 0, 1) .2s;
    -webkit-transform-origin: center left;
    -ms-transform-origin: center left;
    transform-origin: center left
}

.has-nav-open .c-nav_main::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.c-nav_list {
    margin: 0;
    padding: 0;
    list-style: none
}

.c-nav_link {
    position: relative;
    display: block;
    color: #101010;
    font-weight: 300;
    padding: .875rem 0;
    z-index: 4
}
.c-nav_label{
	color: #fff;
}


@media (max-width: 699px) {
    .c-nav_link {
        font-size: 35px
    }
}

@media (min-width: 700px) {
    .c-nav_link {
        font-size: 3.125rem
    }
}

.c-nav_label {
    display: inline-block;
    -webkit-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    transform: translateX(-800px);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1), -webkit-transform .6s cubic-bezier(.4, 0, 0, 1)
}

.c-nav_item:nth-child(1) .c-nav_label {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.has-nav-open .c-nav_item:nth-child(1) .c-nav_label {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.c-nav_item:nth-child(2) .c-nav_label {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

.has-nav-open .c-nav_item:nth-child(2) .c-nav_label {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.c-nav_item:nth-child(3) .c-nav_label {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.has-nav-open .c-nav_item:nth-child(3) .c-nav_label {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.c-nav_item:nth-child(4) .c-nav_label {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}

.has-nav-open .c-nav_item:nth-child(4) .c-nav_label {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.c-nav_item:nth-child(4) .c-nav_label {
    -webkit-transition-delay: 25ms;
    transition-delay: 25ms
}

.has-nav-open .c-nav_item:nth-child(5) .c-nav_label {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.has-nav-open .c-nav_label {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
}

.c-nav_social {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    padding-bottom: 3.4375rem
}

@media (max-width: 699px) {
    .c-nav_social {
        width: 100%
    }
}

@media (min-width: 700px) {
    .c-nav_social {
        width: 50rem
    }
}

.c-nav_flag {
    z-index: 3;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1), -webkit-transform .6s cubic-bezier(.4, 0, 0, 1)
}

@media (max-width: 699px) {
    .c-nav_flag {
        position: absolute;
        top: 74px;
        right: 12px;
        -webkit-transform: translateX(5.625rem);
        -ms-transform: translateX(5.625rem);
        transform: translateX(5.625rem)
    }

    body.has-nav-open .c-nav_flag {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0)
    }
}

@media (min-width: 700px) {
    .c-nav_flag {
        position: absolute;
        top: 3.4375rem;
        -webkit-transform: translateY(-10rem);
        -ms-transform: translateY(-10rem);
        transform: translateY(-10rem)
    }

    body.has-nav-open .c-nav_flag {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}

.c-social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0
}

@media (max-width: 699px) {
    .c-social {
        display: block !important
    }
}

.c-social_item {
    display: inline-block;
    margin-right: 1.875rem
}

.c-nav_social .c-social_item {
    -webkit-transform: translateY(10rem);
    -ms-transform: translateY(10rem);
    transform: translateY(10rem);
    -webkit-transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1);
    transition: transform .6s cubic-bezier(.4, 0, 0, 1), -webkit-transform .6s cubic-bezier(.4, 0, 0, 1)
}

.c-social_item:nth-child(1) {
    -webkit-transition-delay: .15s;
    transition-delay: .15s
}

.is-show .c-social_item:nth-child(1), body.has-nav-open .c-social_item:nth-child(1) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.c-social_item:nth-child(2) {
    -webkit-transition-delay: .1s;
    transition-delay: .1s
}

.is-show .c-social_item:nth-child(2), body.has-nav-open .c-social_item:nth-child(2) {
    -webkit-transition-delay: .5s;
    transition-delay: .5s
}

.c-social_item:nth-child(3) {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}

.is-show .c-social_item:nth-child(3), body.has-nav-open .c-social_item:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.is-show .c-social_item:nth-child(4), body.has-nav-open .c-social_item:nth-child(4) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

body.has-nav-open .c-social_item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}

.c-social_item:last-child {
    margin-right: 0
}

.c-social_link {
    position: relative;
    display: inline-block;
    font-size: 0
}

.c-social_link::before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle
}

.c-social_link>* {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle
}

@media (max-width: 699px) {
    .c-social_link {
        width: 40px;
        height: 40px
    }
}

@media (min-width: 700px) {
    .c-social_link {
        width: 3.125rem;
        height: 3.125rem
    }
}

.c-social_link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7215686275);
    border-radius: 50%;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: -webkit-transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1);
    transition: transform .3s cubic-bezier(.4, 0, 0, 1), -webkit-transform .3s cubic-bezier(.4, 0, 0, 1)
}

.c-social_link:hover::after {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background-color: #fff;
}


.c-social_icon {
    position: relative;
    width: 1rem;
    height: 1rem;
    fill: #101010;
    z-index: 2
}

.c-social_icon svg {
    fill: #101010
}

.right-fixet-button{
    right: -7vw;
    .o-button_label{
        left:-11vw;
    }
    .o-button::after {
        right: 9vw;
        left: -9vw;
    }
    .circle-icon-booking{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7215686275);
        border-radius: 50%;
        z-index: 3;
        margin: 10px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        svg{
            width: 65%;
            height: 65%;
        }
    }
}
.black-menu{
    .circle-icon-booking{
        background-color: #292727 !important;
        svg{
            g{
                fill: #fff;
            }
        }
    }
    .surgical,.conservative{
        background-color:#fff;
        span{
            color: #000;
        }
        li{
            &::marker{
                color: #000;
            }
            a{
                color: #000;
            }
        }

    }
}

.surgical{
    right: 8.5vw;
}
.conservative{
    right: 33.4vw;
}

.surgical,.conservative{
    top: 0;
    opacity: 0;
    position: fixed;
    width: 30rem;
    z-index: 2;
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.942);
    transition: 1.5s;
    .span-condicition{
        font-size: 2rem;
        padding: 0;
        margin-top: 5vh;
        margin-bottom: 2vh;
    }
    a{
        font-size: 1.5rem;
        padding: 0;
        margin-top: 1.5vh;
    }
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    li{
        margin-top: 1vh;
        &::marker{
            color: #fff;
        }
    }
}
.has-nav-open{
    overflow: hidden;
    .conservative-link:hover{
        .conservative{opacity: 1;transition: 0.3s;}
    }
    .surgical-link:hover{
        .surgical{opacity: 1;transition: 0.3s;}
    }

    .surgical,.conservative{
        //opacity: 1;transition: 1s;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
    }
}

